:root {
    --colorLinks: black;
    --white: #ffffff; 
    --fontSizeLinks: 18px;
    --fontFamily: Helvetica, Arial;
    --fontWeightBold: 600;
    /*Letras contenedor Whats on s*/
    --
}

body{
    margin: 0;
    width: 100vp;
    height: 100vh;
    font-family: var(--fontFamily);
}

header, #linkscontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header{
    justify-content: space-between;
    margin: 2vh 4vh;
}

#linkscontainer{
    gap: 0px 50px;
    letter-spacing: 2px;
}

.headerlinks{
    text-decoration: none;
    color: var(--colorLinks);
    font-size: var(--fontSizeLinks);
    font-weight: var(--fontWeightBold);

}

#bannerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/landing.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

#textBannerContainer{
    text-align: center;
    color: whitesmoke;
}

h1, .fontSecondary{
    letter-spacing: 2px;
}

h1{
    margin-bottom: -3px;
    font-size: 4em;
}

.fontSecondary{
    font-size: 20px;
}

.fontSecondaryTwo{
    margin-top: -16px;
}

h2{

}